a {
	text-decoration: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: rgb(255, 255, 255);
}

/* General sidebar styles */
.bm-menu {
	/* User important flag to override stubborn default setting */
	overflow: hidden !important;
  background: rgb(244,153,115);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
	overflow: hidden;
  color: #ffffff;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}