a {
	color: inherit;
}

header {
  margin-bottom: 1em;
  font-size: .8em;
}

.landing-page {
	height:100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.landing-header {
  font-size: 1.2em;
  margin-top: .8em;
}

.landing-sub-header {
font-size: .5em;
font-family: 'Josefin Sans', sans-serif;
font-weight: 300;
}

.header-one {
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 6px;
}

 .header-two {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 6px;
  font-weight: 100;
}

.container, .container-about {
  min-height: 100%;
  max-height: 100%;
	display: flex;
	position: relative;
	margin: 0;
	overflow-x: hidden;
  text-align: center;
  flex-direction: column;
}

.container-about {
  justify-content: center;
}

footer {
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 2.5em !important;
}

.scroll-icon {
  width: 1em;
  flex-direction: column-reverse;
  text-align: center;
}

#header {
  background-image: url('../../assets/images/outdoor.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 4em;
  text-align: center;
  line-height: 1.1em;
}

#sign-up {
  background: rgb(244,153,115);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  line-height: 2;
}


@media (max-width: 1024px) {
  .landing-header {
    font-size: .8em;
  }
  .landing-sub-header {
    font-size: .4em;
  }
}

@media (max-width: 760px) {
  .landing-header {
    font-size: .8em;
  }
  .landing-sub-header {
    font-size: .4em;
  }
}

@media (max-width: 480px) {
  .landing-header {
    font-size: .7em;
    margin-bottom: 0px;
    margin-top: 25%;
  }
  .landing-sub-header {
    font-size: .2em;
  }
  #header {
  line-height: .8em;
  }
}