.whiteBoardControls-container {
    display: flex;
    flex-direction: row;
    z-index: 1;
    border: 1px solid #F1F1F1;
    padding-bottom: 5px;
    padding-top: 5px;
    flex-wrap: wrap;
}

.tool {
    margin: 5px 15px;
    width: 50px;
    height: 50px;
    cursor:pointer;
}

.whiteboard {
  -webkit-tap-highlight-color:transparent;
  width: 100px; 
  border: 1px solid #eeeeee;
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  padding-top: 3px;
  cursor:pointer;
  vertical-align:middle;
  text-align: center;
  width: 175px;
  font-size: 20px;
}

.green-brush {
    background-color: green;
    border-radius: 80px;
}

.red-brush {
    background-color: red;
    border-radius: 80px;
}
.blue-brush {
    background-color: blue;
    border-radius: 80px;
}
.yellow-brush {
    background-color: yellow;
    border-radius: 80px;
}
.black-brush {
    background-color: black;
    border-radius: 80px;
}

.eraser {
    border: 1px solid #eeeeee;
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    padding-top: 3px;
    cursor:pointer;
    vertical-align:middle;
    text-align: center;
    width: 75px;
    font-size: 20px;
}

.nuke {
    border: 1px solid #eeeeee;
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    padding-top: 3px;
    cursor:pointer;
    vertical-align:middle;
    text-align: center;
    width: 75px;
    font-size: 20px;
}

.whiteboard-num {
  margin: 5px;
  border: 1px solid #444444;
  border-radius: 3px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

span::-moz-selection { background:transparent; }
span::selection { background:transparent; }

div::-moz-selection { background:transparent; }
div::selection { background:transparent; }