a {
	color: inherit;
}

/* html {
	height: 100%;
}

body {
	background: white;
	height: 100%;
	min-width: 320px;
	font-weight: 300;
	font-size: 18pt;
	line-height: 1.75em;
	color: #000000;
	letter-spacing: 0.025em;
} */

header {
  margin-bottom: 1em;
  font-size: .8em;
}

.landing-page {
	height:100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.landing-header {
  font-size: .9em;
  font-family: 'Lato';
  font-weight: 300;
}

.landing-sub-header {
  font-size: .5em;
  font-family: 'Lato';
  margin-bottom: 300px;
}

.container {
	height: 100vh;
	min-height: 100%;
	display: flex;
	position: relative;
	margin: 0;
	overflow-x: hidden;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.content {
	width: 45em;
	max-width: calc(100% - 4em);
	margin: 0 auto;
}

#header {
	background-image: linear-gradient(
		to right bottom,
		rgba(100, 107, 98, 0.6),
		rgba(185, 185, 185, 0.6)),  url('../assets/images/outdoor.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 4em;
  text-align: center;
  line-height: 1.1em;
}

#sign-up {
background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
font-family: 'Lato';
line-height: 2;
}