video {
  padding: 0px;
  margin: 0px;
}

.video-container {
  border: 1px solid #e2e2e2;
  height: 50%;
}

.video-large {
  width: 100%;
  height: 100%;
  /* max-width: 640px; */
  /* max-height: 480px; */
  /* border: 1px solid black; */
  margin-bottom: 10px;
}

.video-local-large {
  /* max-width: 640px; */
  /* max-height: 480px; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

.video-local-small {
  left: 90%;
  width: 10%;
  min-width: 64px;
  max-width: 240px;
  max-height: 180px;
  position: absolute;
  z-index: 2;
}

.room-name {
  margin-top: 10px;
}

#users li {
  color: red;
  text-decoration: underline;
  cursor: pointer;
  width: 300px;
  position: relative;
}

#users .active {
  color: #000;
  cursor: default;
}
