.reg-form-input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid red;
  background-color: red;
}

#firstName, #lastName, #username, #password, #passwordConfirm  {
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
  color: white;
  background: rgb(244,153,115);
}

.reg-header {
  font-size: 2.2em;
  line-height: 1.8;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
}