.chat-wrapper-video, .chat-wrapper-audio {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.chat-wrapper-video {
  height:50% !important;
}

.chat-wrapper-audio {
  height: 100% !important
}

.chat-display-audio {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 20vh;
  height: 70vh;
  overflow: auto;
}

.chat-display-video {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 20vh;
  height: 25vh;
  overflow: auto;
}

.message-content {
  display: flex;
  margin-left: 20px;
  color: #4e4d4d;
}

.message-sender {
  color: blue;
  font-weight: 700;
  margin-right: 0.4em;
}

.chat-tabs {
  display: flex;
}

.chat-tabs li {
  margin: 5px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 5px;
  /* color:rgb(0, 0, 0); */
  color: #4e4d4d;
}

.chat-user-input {
  padding: 10px;
  width: 90%;
  margin: 15px auto;
  border-radius: 2px;
  display: block;
  border: 1px solid rgb(126, 126, 126);
  color: #4e4d4d;
  box-shadow: inset 0 4px 8px #f8f8f8;
}