.editor-mode-text {
  list-style-type: none;
  color: #141414;
  font-size: 1.1em;
  margin-left: 15px;
  text-align: left;
}

.editor-mode-text:hover {
  cursor:pointer;
 }

 .nav-bar-wrapper {
   width: 100%;
 }

.nav-bar-ul {
  display: flex;
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 0px;
  flex-direction: row;
  margin-right: 10%;
  padding-bottom: 5px;
  padding-left: 0px;
}

.CodeMirror {
  height: 80vh;
}

.editor-view-wrapper {
  width: 60%;
}

.main-editor-wrapper {
  height: 85vh;
  border: 1px solid black;
}

.whiteboard-container, .upper-canvas {
  height: 100% !important;
}