/* .CodeMirror {
  font-family: monospace;
  line-height: 1em;
  height: auto;
  height: 100%;
  overflow: hidden;
} */


.CodeMirror-scroll{
  overflow: auto;
  height: auto;
  overflow-y: hidden;
}

.editor-view-wrapper {
  width: 100%;
}

.main-editor-wrapper {
  height: 90vh;
  border: 1px solid black;
}

.whiteboard-container, .upper-canvas {
  height: 100% !important;
}