.room{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 60vH;
}

.room > section {
  width: 60vw;
  height: 100%;
}

.webCam-container {
  top: 60px;
  position:relative;
}