.room {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.left-side-wrapper {
  height: 100vh;
  width: 70%;
}

.right-side-wrapper {
  height: 100vh;
  width: 30%;
}