.room {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.webcam-container {
  top: 60px;
  position:relative;
}

.left-side-wrapper {
  height: 100vh;
  width: 70%;
}

.right-side-wrapper {
  height: 100vh;
  width: 30%;
}