.room-create {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgb(46,94,102);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.room-create-wrapper {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(170, 4, 4);
}

.room-create-header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 4.5em;
  padding-bottom: 30px;
  color: rgb(244,153,115);
}

.room-create-input {
  width: 40%;
  padding: 15px 15px;
  font-size: 2em;
  text-align: center;
  display: block;
  margin: 20px auto;
  border-radius: 20px solid white;
  background: rgb(46,94,102);
  color: rgb(244,153,115);
  border: 0;
  outline: 0;
  border-bottom: 2px solid rgb(244,153,115);
}

input:focus::-webkit-input-placeholder {
  color:transparent;
}

.btn-room {
  font-size: 1.3em;
  border: 1px solid rgb(244,153,115);
  background-color: rgb(46,94,102);
  text-align: center;
  color: rgb(244,153,115);
}

.btn-room:hover {
  border: 1px solid rgb(244,153,115);
  background-color: rgb(244,153,115);
  color: rgb(46,94,102);
}

@media (max-width: 760px) {
  .room-create-header {
    font-size: 3em;
    line-height: 1.2;
  }
  .room-create-input {
    width: 50%;
  }
}