video {
  padding: 0px;
  margin: 0px;
}

.webcam-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 50%;
  width: 40%;
}

.video-box {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-large {
  top: 0px;
  width: 100%;
  min-width: 320px;
  max-width: 720px;
  max-height: 480px;
  position: relative;
  border: 1px solid black;
}

.video-small {
  left: 30%;
  bottom: 150px;
  width: 25%;
  min-width: 128px;
  max-width: 240px;
  max-height: 180px;
  position: relative;
  z-index: 10;
}

#users li {
  color: red;
  text-decoration: underline;
  cursor: pointer;
  width: 300px;
  position: relative;
}

#users .active {
  color: #000;
  cursor: default;
}
